@import "tailwindcss";

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    visibility: hidden;
    background: #c4c1c1;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #128c7e;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#c4c1c1;
}